/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* këtu fillon stilimi im */

body{
	background-image: url('../img/shpi.jpg');
	background-size: 25%;
}

header{
	height: 100px;
	margin-bottom: 5px;
	background-color: #294F6D;
	border-bottom: 1px solid #878DB9;
}

form.hyrje{
	position: absolute;
	top: 35%;
	left: 37%;
	background-color: white;
}


.hyrje input:not(.hyr){
	display: block;
	margin: 10px;
	padding-left: 15px;
	height: 2em;
	font-size: 1.3em; 
}

.hyr{
	display: block;
	margin: 10px;
	height: 1.6em;
	font-size: 1.3em; 
	position: relative;
	left: 38%;
}

#loja{
	display: none;
	justify-content: center;
}

#users{
	width: 250px;
	height: 600px;
	background-color: white;
	border: 1px solid #a95938;
	margin-right: 5px;
}

li.usr{
	height: 2em;
	font-family: Arial, sans-serif;
	padding: 10px;
	font-size: 1.6em;
	color: #294F6D;
}

li:nth-child(even){
	background-color: #eee;
}

li:nth-child(odd){
	background-color: #fff;
}


.titull{
	height: 28px;
	padding: 5px;
	background-color: #a95938;
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #BFC2CF;
	color: #294F6D;
	font-family: Arial, sans-serif;
	font-size: 1.2em;
}

#viz{
	width: 600px;
	height: 574px;	
	background-color: #a95938;
}

.drawing-board-controls{
	padding: 6px 0 0 5px;
}

#chat{
	position: relative;
	width: 250px;
	height: 562px;
	background-color: white;
	border: 1px solid #a95938;
	margin-left: 5px;
	padding-bottom: 38px;
}

li.msgx{
	padding: 5px;
	font-family: Arial, sans-serif;
	font-size: 1em;
	color: #294F6D;
}


li.msgx strong{
	font-weight: 600;
}

input.msg{
	position: absolute;
	height: 38px;
	width: 245px;
	font-size: 1.3em;
	bottom: 0;
}

#chat ul{

}



